{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Upcoming Events</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Events</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Event Start -->
<div class="event">
    <div class="container">
        <div class="section-header text-center">
            <p>Upcoming Events</p>
            <h2>Be ready for our upcoming charity events</h2>
        </div>
        {% if events %}
        <div class="row">
            {% for event in events %}
            <div class="col-lg-6">
                <div class="event-item">
                    <img src="{{ event.image.url }}" alt="Image">
                    <div class="event-content">
                        <div class="event-meta">
                            <p><i class="fa fa-calendar-alt"></i>{{event.start_date}}</p>
                            <p><i class="far fa-clock"></i>{{event.start_time}} - {{event.end_time}}</p>
                            <p><i class="fa fa-map-marker-alt"></i>{{event.location}}</p>
                        </div>
                        <div class="event-text">
                            <h3>{{event.title}}</h3>
                            <p>{{event.description}}</p>
                            <a class="btn btn-custom" href="">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
      <center><p><b>There are no upcomming events.</b></p></center>
      {% endif %}
    </div>
</div>
<!-- Event End -->
{% endblock %}