{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Top Bar End -->
           
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Our FAMILY</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Team Start -->
<section id="family">
    <div class="team">
        <div class="container">
            <div class="section-header text-center">
                <p>Our Families</p>
                <h2>Awesome Families behind our charity activities</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>CORNERATONE</h2>
                            <p>FAMILY 1</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>SALEM</h2>
                            <p>FAMILY 2</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>REHOBOTH</h2>
                            <p>FAMILY 3</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>MORIA</h2>
                            <p>FAMILY 4</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>GOSHENI</h2>
                            <p>FAMILY 5</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>TSEDKENU</h2>
                            <p>FAMILY 6</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>JANA</h2>
                            <p>FAMILY 7</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Blessed Generation</h2>
                            <p>FAMILY 8</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Light</h2>
                            <p>FAMILY 9</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Pishon</h2>
                            <p>FAMILY 10</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Elyon</h2>
                            <p>FAMILY 11</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Asher</h2>
                            <p>FAMILY 12</p>

                            <div class="team-social">
                                <a href="https://wa.me/+250786479136" ><i class="fab fa-whatsapp"></i></a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Team End -->

{% endblock %}