{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</div> 
<!-- Page Header End -->


<!-- Single Post Start-->
<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-content">
                    <img src="{{ post.image.url }}" />
                    <h2>{{ post.title }}</h2>
                    <p> {{ post.get_content_as_html|safe }} </p>
                </div>
                {% comment %} <div class="single-tags">
                    <a href="">National</a>
                    <a href="">International</a>
                    <a href="">Economics</a>
                    <a href="">Politics</a>
                    <a href="">Lifestyle</a>
                    <a href="">Technology</a>
                    <a href="">Trades</a>
                </div> {% endcomment %}
                <div class="single-bio">
                    <div class="single-bio-img">
                        <img src="{% static "img/logo.png"%}" />
                    </div>
                    <div class="single-bio-text">
                        <h3>{{ post.author }}</h3>
                        <p>The main purpose of the ministry is to teach people to live in purposeful life, empathy and to express God's purpose for human life by doing what He was created to do and having a happy ending</p>
                    </div>
                </div>
                <div class="single-related">
                    <h2>Related Post</h2>
                    <div class="owl-carousel related-slider">
                        {% for post in posts %}
                        <div class="post-item">
                            <div class="post-img">
                                <img src="{{ post.image.url }}" />
                            </div>
                            <div class="post-text">
                                <a href="{% url 'post_detail' post.id %}">{{ post.title|slice:":20" }}</a>
                                <div class="post-meta">
                                    <p>By<a href="">{{ post.author }}</a></p>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="single-comment">
                    <h2>3 Comments</h2>
                    <ul class="comment-list">
                        <li class="comment-item">
                            <div class="comment-body">
                                <div class="comment-img">
                                    <img src="img/user.jpg" />
                                </div>
                                <div class="comment-text">
                                    <h3><a href="">Josh Dunn</a></h3>
                                    <span>01 Jan 2045 at 12:00pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst. 
                                    </p>
                                    <a class="btn" href="">Reply</a>
                                </div>
                            </div>
                        </li>
                        <li class="comment-item">
                            <div class="comment-body">
                                <div class="comment-img">
                                    <img src="img/user.jpg" />
                                </div>
                                <div class="comment-text">
                                    <h3><a href="">Josh Dunn</a></h3>
                                    <p><span>01 Jan 2045 at 12:00pm</span></p>
                                    <p>
                                        Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst. 
                                    </p>
                                    <a class="btn" href="">Reply</a>
                                </div>
                            </div>
                            <ul class="comment-child">
                                <li class="comment-item">
                                    <div class="comment-body">
                                        <div class="comment-img">
                                            <img src="img/user.jpg" />
                                        </div>
                                        <div class="comment-text">
                                            <h3><a href="">Josh Dunn</a></h3>
                                            <p><span>01 Jan 2045 at 12:00pm</span></p>
                                            <p>
                                                Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst. 
                                            </p>
                                            <a class="btn" href="">Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="comment-form">
                    <h2>Leave a comment</h2>
                    <form>
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="website">Website</label>
                            <input type="url" class="form-control" id="website">
                        </div>

                        <div class="form-group">
                            <label for="message">Message *</label>
                            <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Post Comment" class="btn btn-custom">
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <div class="search-widget">
                            <form>
                                <input class="form-control" type="text" placeholder="Search Keyword">
                                <button class="btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Recent Post</h2>
                        <div class="recent-post">
                            {% for post in posts %}
                            <div class="post-item">
                                <div class="post-img">
                                    <img src="{{ post.image.url }}" />
                                </div>
                                <div class="post-text">
                                    <a href="{% url 'post_detail' post.id %}">{{ post.title|slice:":20" }}</a>
                                    <div class="post-meta">
                                        <p>By<a href="">{{ post.author }}</a></p>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% comment %} <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#"><img src="img/blog-1.jpg" alt="Image"></a>
                        </div>
                    </div> {% endcomment %}

                    <div class="sidebar-widget">
                        <div class="tab-post">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="featured" class="container tab-pane active">
                                    {% for post in posts %}
                                 <div class="post-item">
                                    <div class="post-img">
                                       <img src="{{ post.image.url }}" />
                                    </div>
                                      <div class="post-text">
                                       <a href="{% url 'post_detail' post.id %}">{{ post.title|slice:":20" }}</a>
                                      <div class="post-meta">
                                        <p>By<a href="">{{ post.author }}</a></p>   
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                                </div>
                                <div id="popular" class="container tab-pane fade">
                                    {% for post in posts %}
                            <div class="post-item">
                                <div class="post-img">
                                    <img src="{{ post.image.url }}" />
                                </div>
                                <div class="post-text">
                                    <a href="{% url 'post_detail' post.id %}">{{ post.title|slice:":20" }}</a>
                                    <div class="post-meta">
                                        <p>By<a href="">{{ post.author }}</a></p>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                                </div>
                                <div id="latest" class="container tab-pane fade">
                                    {% for post in posts %}
                            <div class="post-item">
                                <div class="post-img">
                                    <img src="{{ post.image.url }}" />
                                </div>
                                <div class="post-text">
                                    <a href="{% url 'post_detail' post.id %}">{{ post.title|slice:":20" }}</a>
                                    <div class="post-meta">
                                        <p>By<a href="">{{ post.author }}</a></p>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %} <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#"><img src="img/blog-2.jpg" alt="Image"></a>
                        </div>
                    </div> {% endcomment %}

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Categories</h2>
                        <div class="category-widget">
                            <ul>
                                <li><a href="">National</a><span>(98)</span></li>
                                <li><a href="">International</a><span>(87)</span></li>
                                <li><a href="">Economics</a><span>(76)</span></li>
                                <li><a href="">Politics</a><span>(65)</span></li>
                                <li><a href="">Lifestyle</a><span>(54)</span></li>
                                <li><a href="">Technology</a><span>(43)</span></li>
                                <li><a href="">Trades</a><span>(32)</span></li>
                            </ul>
                        </div>
                    </div>

                    {% comment %} <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#"><img src="img/blog-3.jpg" alt="Image"></a>
                        </div>
                    </div> {% endcomment %}

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Tags Cloud</h2>
                        <div class="tag-widget">
                            <a href="">National</a>
                            <a href="">International</a>
                            <a href="">Economics</a>
                            <a href="">Politics</a>
                            <a href="">Lifestyle</a>
                            <a href="">Technology</a>
                            <a href="">Trades</a>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title">HPGT Mission</h2>
                        <div class="text-widget">
                            <p>The main purpose of the ministry is to teach people to live in purposeful life, empathy and to express God's purpose for human life by doing what He was created to do and having a happy ending. using the word of God Ephesians 2:10</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post End-->
{% endblock %}