{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Top Bar End -->
           
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Team Member</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Team Start -->
        <section id="team"> 
            <!-- Team Start -->
            <div class="team">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Meet Our Team</p>
                        <h2>Awesome guys behind our charity activities</h2>
                    </div>
                    <div class="row">
                        {% for team in teams %}
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{{ team.image.url }}" alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>{{ team.name }}</h2>
                                    <p>{{ team.title }}</p>
                                    <div class="team-social">
                                        <a href="{{ team.twitter_url }}"><i class="fab fa-twitter"></i></a>
                                        <a href="{{ team.facebook_url }}"><i class="fab fa-facebook-f"></i></a>
                                        <a href="{{ team.instagram_url }}"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="{{ team.instagram_url }}"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
            <!-- Team End -->
        </section>
        <!-- Team End -->

{% endblock %}