{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HEALTHCARE PROFFESIONALS IN GLOBAL TRANSFORMATIONS</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="HEALTHCARE PROFFESIONALS IN GLOBAL TRANSFORMATIONS" name="keywords">
        <meta content="HEALTHCARE PROFFESIONALS IN GLOBAL TRANSFORMATIONS" name="description">

        <!-- Favicon -->
        <link href="{% static "img/favicon.ico"%}"  rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static "lib/flaticon/font/flaticon.css"%}" rel="stylesheet">
        <link href="{% static "lib/animate/animate.min.css"%}"  rel="stylesheet">
        <link href="{% static "lib/owlcarousel/assets/owl.carousel.min.css"%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static "css/style.css"%}" rel="stylesheet">
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="fa fa-phone-alt"></i>
                                <p>+250788 500 628</p>
                            </div>
                            <div class="text">
                                <i class="fa fa-envelope"></i>
                                <p>info@hpgt.org</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-center">
                            
                            <div class="language">
                                <br><br><br><br><br><br>
                                <a href="#">KINY</a>
                                <a href="#">ENG</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="#" class="navbar-brand"><img src="{% static "img/logo.png"%}"></a>

                
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
                        
                         <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Who we are</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'vision-mission-and-values' %}" class="dropdown-item">Mission, Vision, Values</a>
                                <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>
                                <a href="{% url 'belives' %}" class="dropdown-item">Our belives</a>
                                <a href="{% url 'team' %}" class="dropdown-item">Code of condact</a>
                            </div>
                        </div> 
                        <a href="{% url 'service' %}" class="nav-item nav-link">What we do</a>
                        
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Press Room</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'blog' %}" class="dropdown-item">Newsletters</a>
                                <a href="{% url 'event' %}" class="dropdown-item">Events / Announcements</a>
                            </div>
                        </div> 
                        <a href="#contact" class="nav-item nav-link">Contact</a>
                        <a href="#donate" class="nav-item nav-link">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->

        {% block content %}
    

        {% endblock %}

      <!-- Footer Start -->
     <section id="family">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact">
                            <h2>Our Head Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>NYAMATA, BUGESERA, RWANDA</p>
                            <p><i class="fa fa-phone-alt"></i>+250 784 67890</p>
                            <p><i class="fa fa-envelope"></i>info@hpgt.com</p>
                            <div class="footer-social">
                                <a class="btn btn-custom" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="{% url 'vision-mission-and-values' %}">About Us</a>
                            <a href="{% url 'contact' %}">Contact Us</a>
                            <a href="{% url 'service' %}">what we do</a>
                            <a href="{% url 'event' %}">Upcoming Events</a>
                            <a href="{% url 'blog' %}">Latest Blog</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a href="{% url 'contact' %}">Terms of use</a>
                            <a href="{% url 'contact' %}">Privacy policy</a>
                            <a href="{% url 'contact' %}">Help</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-newsletter">
                            <h2>Newsletter</h2>
                            <form>
                                <input class="form-control" placeholder="Email goes here">
                                <button class="btn btn-custom">Submit</button>
                                <label>Don't worry, we don't spam!</label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="">HPGT</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Developed By <a href="https://bravetech.co.rw">Yannick</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Footer End -->
        
        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static "lib/easing/easing.min.js"%}"></script>
        <script src="{% static "lib/owlcarousel/owl.carousel.min.js"%}"></script>
        <script src="{% static "lib/waypoints/waypoints.min.js"%}"></script>
        <script src="{% static "lib/counterup/counterup.min.js"%}"></script>
        <script src="{% static "lib/parallax/parallax.min.js"%}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{% static "mail/jqBootstrapValidation.min.js"%}"></script>
        <script src="{% static "mail/contact.js"%}"></script>

        <!-- Template Javascript -->
        <script src="{% static "js/main.js"%}"></script>
    </body>
</html>
